<!DOCTYPE html>
<html>
  <body>
    <div>
      <h3>This is the tale of Bento-Boy.</h3>
      <h4> By my Power and my overruling authority, I declare you as: </h4>
      <h1>Bento-Boy</h1>
    </div>
    <div>
        {{> homePageButton}}
    </div>
  </body>
</html>