.centerText {
    text-align: center;
}

.othersText {
    font-family: 'Rajdhani', sans-serif;
}

.textDeco {
    background-color: #101820FF;
    color: #FEE715FF;
    font-family: 'Grandstander', cursive;
}

.rightText {
    text-align: center;
    margin-left: 53%;
}

.leftText {
    text-align: left;
}

.heroEntity {
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: left;
}