@media only screen and (min-width: 320px) {
    body {
      background-color: lightblue;
      color: #101820FF;
    }
}

.centerText {
    text-align: center;
}

.othersText {
    /* font-family: 'Rajdhani', sans-serif; */
    font-family: 'Reenie Beanie', cursive;
}

.textDeco {
    background-color: #101820FF;
    color: #FEE715FF;
    /* font-family: 'Neuton', serif; */
    font-family: 'Grandstander', cursive;
}

.alignment {
    margin-left: 30%;
    margin-right: 30%;
    line-height: 1.6;
}

.heroEntity {
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: left;
}

img {
    border-radius: 50%;
}

/* .centerPage {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
} */
/* .hiddenText {
    display: none;
} */